@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

$font-roboto: 'Roboto', Arial, sans-serif;

body,
html {
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.slider {
  background-color: gray;
  height: 400px;
  position: relative;
  width: 100%;
}

.holder {
  background-color: darkseagreen;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 600px;

  .content {
    //position: absolute;

    .slider-image {
      //height: 100%;
      width: 100%;
    }

    .slider-desc {
      color: white;
      bottom: 0;
      font-family: $font-roboto;
      font-weight: 300;
      //height: 10%;
      padding: 5%;
      position: absolute;
      width: 90%;
      //box-shadow: inset 0px -150px 120px -50px;
      margin: 0;
    }

    .slider-desc-shadow {
      bottom: 0;
      box-shadow: inset 0px -100px 70px -50px;
      height: 50%;
      margin: 0;
      opacity: .75;
      position: absolute;
      width: 100%;
    }

    .slider-title {
      color: white;
      top: 0;
      font-family: $font-roboto;
      height: 10%;
      padding: 2% 5%;
      position: absolute;
      width: 90%;
      //box-shadow: inset 0px -150px 120px -50px;
      margin: 0;
    }

    .slider-title-shadow {
      box-shadow: inset 0px 100px 100px -60px;
      height: 30%;
      opacity: .75;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

}

.controls {
  height: 100%;
  position: absolute;
  top: 0;
  width: 600px;
}

.nav {
  //background-color: purple;
  height: 100%;
  width: 20%;

  img {
    opacity: .5;
    position: absolute;
    top: calc(50% - 18px);
    transition: left .15s, top .15s, width .15s;
    width: 20%;
  }

  &.left {
    position: absolute;
    left: 0;
    z-index: 1;

    img {
      left: 10%;
      transform: rotate(180deg);
    }
  }

  &.right {
    position: absolute;
    right: 0;
    z-index: 1;

    img {
      right: 10%;
    }
  }
}
